@font-face {
  font-family: 'Futura';
  src: url(../assets/Futura/FuturaPTCondBold.otf);
  font-display: swap;
}

@font-face {
  font-family: 'PT Sans Narrow';
  src: url(../assets/PT_Sans_Narrow/PT_Sans-Narrow-Web-Regular.ttf);
  font-display: swap;
}

body {
  font-size: calc( 14px + 0.4vw);
  position: relative;
  margin: 0;
}

body p {
  font-family: 'PT Sans Narrow';
}

body * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body .container-fluid {
  width: 100%;
  padding: 3rem 0;
}

body .container-fluid .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

body .container-fluid .row .col-md-4 {
  -webkit-box-flex: 40%;
      -ms-flex: 40%;
          flex: 40%;
  padding: 0 10%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body .container-fluid .row .col-md-6 {
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
}

body .container-fluid .row .col-md-8 {
  -webkit-box-flex: 60%;
      -ms-flex: 60%;
          flex: 60%;
}

body.container-fluid:first-child {
  padding: 0;
}

body .container {
  padding: 0 10%;
}

body .py-5 {
  padding: 5rem 0;
}

nav#main-navbar {
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 999;
  color: white;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

nav#main-navbar .logo-header {
  display: none;
}

nav#main-navbar ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80vw;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

nav#main-navbar ul a {
  text-decoration: none;
  cursor: pointer;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

nav#main-navbar ul a:visited {
  color: grey;
}

nav#main-navbar ul li {
  text-transform: capitalize;
  padding: 5px 15px;
  margin-right: 1rem;
  font-family: 'Futura';
  font-size: 1.4rem;
  -ms-flex-item-align: end;
      align-self: flex-end;
  cursor: pointer;
}

nav#main-navbar ul li.active {
  border-bottom: 2px solid #ffde5d;
}

nav#main-navbar.dark {
  width: 100%;
  right: 0;
  background: black;
  top: 0;
  color: white;
  padding-bottom: .5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 0px 2px 11px 1px #707070;
          box-shadow: 0px 2px 11px 1px #707070;
}

nav#main-navbar.dark .logo-header {
  display: block;
  height: 3rem;
  margin-top: .25rem;
  margin-left: 1rem;
}

nav#main-navbar.dark .logo-header img {
  width: auto;
  height: 100%;
}

nav#main-navbar.dark ul {
  width: 100%;
}

.col-md-6 {
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
}

.hero {
  min-height: 100vh;
  background-color: black;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#00000055), to(#000000aa)), url(../img/logo_inverso.svg);
  background-image: linear-gradient(#00000055, #000000aa), url(../img/logo_inverso.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: -50vw 50%;
  color: #ffffffee;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero .logo img {
  width: 100%;
  height: 80%;
  padding-left: 6%;
  padding-right: 4%;
  border-right: 5px solid #ffde5d;
  margin-top: 10%;
  margin-right: -1%;
}

.hero .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
  margin: 1rem auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero .content h1 {
  margin-left: 1rem;
  padding: 0.5rem;
  font-family: 'PT Sans Narrow';
  font-size: 2rem;
  text-shadow: 1px 2px 3px #ffffff44;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  font-weight: 400;
}

.hero .content h1 a {
  text-decoration: none;
  color: #ffffffee !important;
}

.hero .content h1 a:visited {
  color: #ffffffee;
}

.hero .content h1.resalte {
  text-shadow: 0px 2px 3px #ffde5d;
  padding: 0.8rem;
  font-family: Futura;
}

.hero .content h1.resalte:after {
  content: '';
  margin-bottom: -6px;
  margin-left: 6px;
  width: 1.8rem;
  height: 1.8rem;
  display: inline-block;
  background: url(../img/logo_inverso.svg);
  background-repeat: no-repeat;
  background-size: 100%;
}

.hero .content h1.resalte:hover {
  -webkit-transform: scale(1.1) translateX(3rem);
          transform: scale(1.1) translateX(3rem);
}

.hero .content hr {
  width: 50%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.content-1 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffffaa), to(#ffffffaa)), url(../img/logo-left-gray.svg);
  background-image: linear-gradient(#ffffffaa, #ffffffaa), url(../img/logo-left-gray.svg);
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: 50vw 50%;
}

.content-2 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#000000aa), to(#000000aa)), url(../img/logo-right-gray.svg);
  background-image: linear-gradient(#000000aa, #000000aa), url(../img/logo-right-gray.svg);
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: -20vw 50%;
}

#porque {
  background-color: black;
  color: white;
  padding: 5rem 0;
  margin: 3rem 0;
  line-height: 1.4;
}

#porque h2, #porque h3 {
  color: #ffde5d;
  text-align: center;
  font-family: 'Futura';
  font-size: 2.5rem;
  margin-bottom: 1rem;
  text-align: center;
}

#porque h3 {
  margin-top: 1.5rem;
  font-size: 2rem;
}

#porque span.resaltar {
  display: block;
  width: 80%;
  margin: 0.5rem auto;
  font-size: 1.4rem;
  font-family: 'Futura';
  text-align: center;
  border-bottom: 1px solid #ffde5d;
  padding: 1rem;
  margin-bottom: 1.5rem;
}

#porque .clientes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 75%;
  margin: 1rem auto;
}

#porque .clientes h3 {
  width: 100%;
}

#porque .clientes div.container-imagen {
  width: 40%;
  -webkit-box-flex: 40%;
      -ms-flex: 40%;
          flex: 40%;
  margin-right: 5%;
  padding: 1rem;
  margin-bottom: 5%;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 15px;
  border-top: 3px solid black;
  border-bottom: 3px solid #ffde5d;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

#porque .clientes div.container-imagen img {
  width: 80%;
  height: auto;
  margin: 0 auto;
}

#porque .clientes div.container-imagen:hover {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

#porque ul {
  margin: 1rem auto;
  width: 80%;
  display: block;
}

#porque ul li {
  font-family: 'PT Sans Narrow';
  margin: 1rem auto;
}

.contenedor-img-sol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.contenedor-img-sol img {
  width: 45%;
  height: auto;
  margin-left: -15%;
}

.contenedor-img-sol img:first-child {
  margin-top: -5%;
  margin-bottom: 5%;
}

.contenedor-img-sol img:last-child {
  margin-top: 5%;
  margin-bottom: -5%;
}

main#servicios {
  text-align: center;
}

main#servicios h2:first-child {
  font-size: 3rem;
  font-family: 'Futura';
}

main#servicios .py-5 {
  padding: 2rem 0;
}

main#servicios p {
  text-align: center;
  width: 100%;
  margin-bottom: 1rem;
}

main#servicios ul {
  width: 75%;
  text-align: left;
  margin: 0 auto;
  font-family: 'PT Sans Narrow';
  -webkit-columns: 2;
          columns: 2;
}

main#servicios ul li {
  padding: 0.5rem;
}

main#servicios .card {
  border: 1px solid gray;
  border-radius: 5px;
  background-color: white;
  margin-right: 2rem;
  min-height: 290px;
  height: 25vh;
  max-width: 50vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-shadow: 4px 0 10px #000000aa;
          box-shadow: 4px 0 10px #000000aa;
  background-size: cover;
}

main#servicios .card .nombre {
  height: 2.5rem;
  font-family: 'Futura';
  font-size: 1.8rem;
  border-top: 1px solid grey;
  background: white;
}

main#servicios .card.mantenimiento {
  background-image: url(../img/exp-berlitz.jpeg);
}

main#servicios .card.techos {
  background-image: url(../img/Techos-2.jpeg);
}

main#servicios .card.instalaciones {
  background-image: url(../img/instalaciones-1.jpeg);
}

main#servicios .card.remodelacion {
  background-image: url(../img/proceso-grua2.jpeg);
}

main#servicios .card.impermeabilizacion {
  background-image: url(../img/cubiertas.jpeg);
  margin: 0 auto;
}

#contacto {
  background-color: black;
  color: white;
  padding: 5rem 0;
  margin: 3rem 0;
  line-height: 1.4;
  margin-bottom: 0;
}

#contacto .titulo {
  text-align: center;
  font-family: 'Futura';
  color: #ffde5d;
  font-size: 3rem;
}

#contacto form {
  width: 75%;
  margin: 0 auto;
}

#contacto form input, #contacto form textarea {
  width: 100%;
  color: #000000;
  font-family: 'PT Sans Narrow';
}

#contacto #thankyou_message {
  width: 75%;
  margin: 0 auto;
  text-align: center;
}

footer {
  width: 100%;
  text-align: center;
  background: black;
  color: white;
  padding: 0.5rem 0;
  font-family: 'PT Sans Narrow';
}

footer span {
  display: block;
  font-size: 0.8rem;
}

footer a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

footer a:visited {
  color: gray;
}

.delay-p1 {
  -webkit-animation-delay: .1s;
          animation-delay: .1s;
}

.delay-p2 {
  -webkit-animation-delay: .2s;
          animation-delay: .2s;
}

.delay-p3 {
  -webkit-animation-delay: .3s;
          animation-delay: .3s;
}

.delay-p4 {
  -webkit-animation-delay: .4s;
          animation-delay: .4s;
}

.delay-p5 {
  -webkit-animation-delay: .5s;
          animation-delay: .5s;
}

@media screen and (max-width: 880px) {
  nav#main-navbar {
    width: 100vw;
    top: 1%;
    left: 0;
  }
  nav#main-navbar ul {
    width: 100%;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin: 0;
    padding: 0 0.5rem;
  }
  nav#main-navbar ul li {
    text-align: center;
    font-size: 1.1rem;
    margin: 0;
    line-height: 1;
    margin-right: 3px;
  }
  nav#main-navbar.dark .logo-header {
    display: none;
  }
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#000000aa), to(#000000ee)), url(../img/logo-up.svg);
    background-image: linear-gradient(#000000aa, #000000ee), url(../img/logo-up.svg);
    background-repeat: no-repeat;
    background-size: 150%;
    background-position: 50% 50vh;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .hero .logo img {
    width: 75%;
    height: auto;
    padding: 0;
    padding-bottom: 2rem;
    margin: 0 auto;
    margin-top: 20vh;
    border-right: none;
    border-bottom: 5px solid #ffde5d;
  }
  .hero .content {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 8vh;
  }
  .hero .content h3 {
    font-size: 1.5rem;
    padding: 0.2rem;
    margin-left: 0;
  }
  .hero .content h3.resalte {
    line-height: 1;
    padding: 0.5rem;
  }
  .col-md-6 {
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
  }
  body {
    font-size: calc(14px + 0.7vw);
  }
  body .container {
    padding: 0 5%;
  }
  body .container-fluid {
    padding: 0 5%;
  }
  body .container-fluid .row .col-md-4, body .container-fluid .row .col-md-8, body .container-fluid .row .col-md-6 {
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
    padding: 0;
  }
  body .py-5 {
    padding: 2rem 0;
  }
  body .content-1 {
    background-size: 150%;
    background-position: -10vw 50%;
    background-attachment: fixed;
  }
  body .content-2 {
    background-size: 150%;
    background-position: 10vw 50%;
    background-attachment: fixed;
  }
  body .invertir-orden {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  body .contenedor-img-sol {
    margin: 2rem auto 0.5rem;
    margin-right: -2rem;
  }
  body #porque .titulo h2, body #porque .resaltar, body #porque h3 {
    line-height: 1.1;
  }
  body #porque ul li {
    margin: 0.3rem auto;
  }
  main#servicios .card {
    margin: 0;
    margin-bottom: 1rem;
    max-width: 100%;
  }
  main#servicios .card .nombre {
    height: auto;
    line-height: 1.1;
    padding: 0.2rem 0;
  }
  main#servicios ul {
    width: 90%;
    -webkit-columns: 1;
            columns: 1;
  }
}
/*# sourceMappingURL=styles.css.map */